.blockchain-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 2.5%;
}

.modal-content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
tr:hover {
  cursor: pointer;
}