.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.form-row {
  display: table;
  padding-top: 10px;
  padding-bottom: 10px;
}

.half-width {
  display: table-cell;
  width: 50%;
}

.left {
  padding-right: 10px;
}

.right {
  padding-left: 10px;
}

.react-datepicker__input-container {
  width: 160%;
}
