:local(.root) {
  flex-grow: 1;
}

:local(.active) {
  border-bottom: 2px solid #FFF;
}
:local(.contentContainer) {
  padding-top: 71px;
  /* height: 1000000px; */
  /* background-color: antiquewhite */
}

:local(.menuIcon) {
  margin-left: -10px;
  margin-right: 20px;
}

:local(.appBar) {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #e60000;
  height: 60px;
  border-bottom: 1px solid #d8d8d8;
  position: fixed;
  width: 100%;
}
:local(.menuItem_default) {
  color: #FFF;
  font-size: 20px;
  padding: 0px 10px;
  margin-left: 5px;
  margin-right: 5px;
}
:local(.menuItem_active) {
  color: #FFF;
  font-size: 20px;
  padding: 0px 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 2px solid #FFF;
}

:local(.heroContainer) {
  background-color: #FFF;
  height: 500px;
  border-bottom: 1px solid #d8d8d8;
}

:local(.technicalContainer) {
  height: 400px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d8d8d8;
}

:local(.technicalHeader) {
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.technicalHeader h2) {
  color: #000000bb;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

:local(.redLine) {
  background-color: #e60000;
  width: 40px;
  height: 4px;
  display: block;
}
:local(.technicalLabel) {
  text-align: center;
  color: #000000bb;
  margin-top: 0px;
}

:local(.aboutContainer) {
  height: 300px;
  border-bottom: 1px solid #d8d8d8;
}
