.sidebar-item {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 20px;
  background-color: #235789 !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

.sidebar-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8) !important;
}

.sidebar-item-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.sidebar-item-selected {
  color: rgba(255, 255, 255, 1) !important;
  background-color: #164A7C !important;
}