.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #235789;
}

.login-card {
  width: 450px !important;
  height: 450px;
}

.login-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  justify-content: space-around;
}

.login-input {
  width: 80%;
  height: 50px;
}
.login-logo {
  width: 150px;
  height: 150px;
}

.login-button {
  width: 80%;
}