.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.dashboard-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.dashboard-sidebar {
  background-color: #235789;
  height: 100%;
  width: 15%;
}
