.sidebar-container {
  background-color: #235789;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.sidebar-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.sidebar-logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 5px;
}